.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/ssm_viewer.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
ssm_gui/defaults/__pycache__/__init__.cpython-312.pyc
ssm_gui/defaults/__pycache__/viewer.cpython-312.pyc
ssm_gui/scripts/resources/wheels/ptb/latest.txt
ssm_gui/__pycache__/__init__.cpython-312.pyc
ssm_gui/defaults/__pycache__/tools.cpython-312.pyc
ssm_gui/defaults/__pycache__/widgets.cpython-312.pyc
.idea/workspace.xml
ssm_gui/__pycache__/o3d_viewer.cpython-312.pyc
ssm_gui/models/__pycache__/__init__.cpython-312.pyc
ssm_gui/models/__pycache__/shape.cpython-312.pyc
ssm_gui/util/__pycache__/__init__.cpython-312.pyc
ssm_gui/util/__pycache__/dialogs.cpython-312.pyc
ssm_gui/sandbox.py
ssm_gui/sandbox2.py
ssm_gui/example/humerus(scaled).stl
ssm_gui/example/humerus(scaled_y).stl
ssm_gui/example/radius(scaled_y).stl
ssm_gui/example/sheep.py
ssm_gui/example/ulna(scaled_y).stl
ssm_gui/example/ulna(scaled_y2).stl
ssm_gui/example/ulna(scaled_y3).stl
ssm_gui/example/ulna(scaled_y4).stl
ssm_gui/example/landmarks/project.bin
ssm_gui/example/landmarks/landmarkpose/angle_95.txt
ssm_gui/example/landmarks/landmarkpose/humerus.stl
ssm_gui/example/landmarks/landmarkpose/humerus_combo.stl
ssm_gui/example/landmarks/landmarkpose/radius.stl
ssm_gui/example/landmarks/landmarkpose/radius_combo.stl
ssm_gui/example/landmarks/landmarkpose/ulna.stl
ssm_gui/example/landmarks/landmarkpose/ulna_combo.stl
ssm_gui/build/
ssm_gui/dist/
src/__pycache__/
src/defaults/__pycache__/__init__.cpython-312.pyc
src/defaults/__pycache__/
src/models/__pycache__/
src/scripts/resources/wheels/ptb/latest.txt
src/util/__pycache__/
.idea/
ssm_gui/example/test.inp
ssm_gui/example/test.ply
ssm_gui/test.png
ssm_gui/test.ssm
ssm_gui/example/test.ssm
